h1 {
  color: blue;
  font-size: 40px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p{
    color: brown;
    font-size: 15px;
    text-align: justify;
}